---
---

$bg-color : #F9F8F8;
$bg-darken-color : #3D3E42;
$default-color : #697374;
$light-color : lighten($default-color, 30%);
$primary-color : #62D4DB;
$secondary-color : #B76780;

// override
body {
  font-family                : 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight                : 300;
  color                      : $default-color;
  background-color           : $bg-color;
  overflow-x                 : hidden;
  -webkit-print-color-adjust : exact;
}

a {
  color           : $secondary-color;
  text-decoration : none;
  font-weight     : 500;
  &:hover {
	color           : lighten($secondary-color, 5%);
	text-decoration : none;
	transition      : color 250ms ease-in;
  }
}

ul {
  margin       : 0;
  padding-left : 20px;
}

hr {
  border-top : solid 1px $light-color;
}

code {
  padding          : 1px 2px;
  background-color : $light-color;
  color            : darken($secondary-color, 30%);
}

.text-muted {
  color : darken($light-color, 10%);
}

// global
.top-container {
  padding : 0;
}

.darken-bg {
  background-color : $bg-darken-color;
  color            : $light-color;
}

.main-text {
  color : $primary-color;
}


// wrapper
.panel-wrapper {
  margin-top : 20px;
  @media (max-width : 992px) {
	position : relative;
  }
}

// profile
.profile-container {
  text-align : center;
  & > h1 {
	font-weight    : bold;
	text-transform : uppercase;
  }
}

.avatar {
  width : 100px;
}

// contact
.contact-container {
  text-align : center;
  padding       : 0 5px;
  margin-bottom : 20px;
  > .contact-wrapper {
	display    : inline-block;
	text-align : left;
  }
  i {
	margin-right : 0.5em;
  }
}

// map
.map-container {
  padding : 0 5px;
}

// timeline
.timeline {
  list-style : none;
  padding    : 20px 0 20px;
  position   : relative;

  &:before {
	top              : 0;
	bottom           : 0;
	position         : absolute;
	content          : " ";
	width            : 1px;
	background-color : darken($default-color, 10%);
	left             : 30px;
  }
  & > li {
	margin-bottom : 20px;
	position      : relative;
	margin-left   : 87px;
	&:before,
	&:after {
	  content : " ";
	  display : table;
	}
	&:after {
	  clear : both;
	}

	& > .timeline-panel {
	  float         : left;
	  border        : 1px solid $default-color;
	  border-radius : 2px;
	  padding       : 20px;
	  position      : relative;
	  &:before {
		$pointer-size : 8px;
		position      : absolute;
		top           : 38px;
		left          : -$pointer-size;
		display       : inline-block;
		border-top    : $pointer-size solid transparent;
		border-left   : 0;
		border-right  : $pointer-size solid $default-color;
		border-bottom : $pointer-size solid transparent;
		content       : " ";
	  }
	}

	& > .timeline-badge {
	  color            : $primary-color;
	  width            : 50px;
	  line-height      : 50px;
	  font-size        : 18px;
	  text-align       : center;
	  position         : absolute;
	  top              : 24px;
	  margin-left      : -82px;
	  background-color : $bg-darken-color;
	  z-index          : 100;
	}
  }

  @media (max-width : 767px) {
	&:before {
	  left : 0;
	}
	& > li {
	  margin-left : 30px;
	  & > .timeline-badge {
		margin-left : -60px;
		font-size   : 14px;
	  }
	  & > .timeline-panel {
		padding : 10px;
		&:before {
		  top : 40px;
		}
	  }
	}
  }
}

.timeline-title {
  margin-top : 0;
  color      : inherit;
}

.timeline-body {
  & > p,
  & > ul {
	margin-bottom : 0;
  }

  & > p + p {
	margin-top : 5px;
  }
}

// Tech Stack
.tech-stack {
  color         : #FFF;
  display       : inline-block;
  margin-right  : 5px;
  margin-bottom : 5px;
  padding       : 5px 5px 5px 25px;
  background    : #A75265;
  position      : relative;
}

.tech-stack:before {
  content     : "\f004";
  font-family : FontAwesome;
  font-style  : normal;
  font-weight : normal;
  position    : absolute;
  top         : 6px;
  left        : 7px;
}

// stackoverflow css
.list-stackoverflow span {
  margin-right : 5px;
  width        : 35px;
}

// skills css
.list-skills li .progress {
  height     : 2px;
  box-shadow : none;
  overflow   : inherit;
  background : $default-color;
  margin-top : 1px;
}

.list-skills li .progress .progress-bar {
  height        : 4px;
  border-radius : 5px;
  margin        : -1px 0;
  text-align    : right;
  position      : relative;
  background    : $primary-color;
  box-shadow    : none;
}

.list-skills li .progress .progress-bar span {
  position      : relative;
  bottom        : -8px;
  font-size     : 12px;
  line-height   : 12px;
  color         : #FFF;
  right         : -15px;
  display       : inline-block;
  background    : $default-color;
  padding       : 1px 5px;
  border-radius : 3px;
  &:after {
	$pointer-size : 3px;
	content       : "";
	position      : absolute;
	left          : 50%;
	margin-left   : -$pointer-size;
	top           : -$pointer-size;
	border-bottom : $pointer-size solid $default-color;
	border-left   : $pointer-size solid transparent;
	border-right  : $pointer-size solid transparent;
  }
}

.language-wrapper {
  padding       : 2px 10px;
  margin        : 0 10px;
  border-bottom : 1px solid $default-color;
  & > .badge {
	background    : $default-color;
	border-radius : 3px;
  }
}

.title {
  position       : relative;
  padding-bottom : 10px;
  margin-top     : 20px;
  font-size      : 18px;
  color          : $primary-color;
  font-weight    : 300;
  text-transform : uppercase;

  > i {
	margin-right : 0.5em;
  }
}

.badge-right-float {
  float : right;
}

$duration : 500ms;

.animated {
  animation-duration : $duration;
}

@for $i from 2 through 8 {
  .animated.animated-#{$i} {
	animation-delay : $duration*$i - $duration;
  }
}

// pdf notice
.pdf-notice {
  margin-top : 10px;
  text-align : center;
  display    : none;
  @media print {
	display : block;
  }
}

// animation
@keyframes grow {
  from {
	transform : scaleX(0);
  }
  70% {
	animation-timing-function : ease-in;
	transform                 : scaleX(1.15);
  }
  to {
	transform : scaleX(1);
  }
}

.grow {
  transform-origin : left;
  animation-name   : grow;
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.0 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

.github-fork-ribbon {
  width           : 12.1em;
  height          : 12.1em;
  position        : absolute;
  overflow        : hidden;
  top             : 0;
  right           : 0;
  z-index         : 9999;
  pointer-events  : none;
  font-size       : 13px;
  text-decoration : none;
  text-indent     : -999999px;
}

.github-fork-ribbon.fixed {
  position : fixed;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
  /* The right and left classes determine the side we attach our banner to */
  position           : absolute;
  display            : block;
  width              : 15.38em;
  height             : 1.54em;
  top                : 3.23em;
  right              : -3.23em;
  -webkit-box-sizing : content-box;
  -moz-box-sizing    : content-box;
  box-sizing         : content-box;
  -webkit-transform  : rotate(45deg);
  -moz-transform     : rotate(45deg);
  -ms-transform      : rotate(45deg);
  -o-transform       : rotate(45deg);
  transform          : rotate(45deg);
}

.github-fork-ribbon:before {
  content            : "";

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding            : .38em 0;

  /* Set the base colour */
  background-color   : #A00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image   : -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image   : -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image   : -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image   : -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image   : -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image   : linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow : 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow    : 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  box-shadow         : 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  pointer-events     : auto;
}

.github-fork-ribbon:after {
  /* Set the text from the data-ribbon attribute */
  content         : attr(data-ribbon);

  /* Set the text properties */
  color           : #FFF;
  font            : 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height     : 1.54em;
  text-decoration : none;
  text-shadow     : 0 -.08em rgba(0, 0, 0, 0.5);
  text-align      : center;
  text-indent     : 0;

  /* Set the layout properties */
  padding         : .15em 0;
  margin          : .15em 0;

  /* Add "stitching" effect */
  border-width    : .08em 0;
  border-style    : dotted;
  border-color    : #FFF;
  border-color    : rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon.left-top, .github-fork-ribbon.left-bottom {
  right : auto;
  left  : 0;
}

.github-fork-ribbon.left-bottom, .github-fork-ribbon.right-bottom {
  top    : auto;
  bottom : 0;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after {
  right : auto;
  left  : -3.23em;
}

.github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
  top    : auto;
  bottom : 3.23em;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
  -webkit-transform : rotate(-45deg);
  -moz-transform    : rotate(-45deg);
  -ms-transform     : rotate(-45deg);
  -o-transform      : rotate(-45deg);
  transform         : rotate(-45deg);
}