<!DOCTYPE html>
<html>
  <a class="hidden-print hidden-xs hidden-sm github-fork-ribbon fixed left-bottom" href="https://github.com/gogoout/resumecard" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <a class="hidden-print hidden-md hidden-lg github-fork-ribbon right-top" href="https://github.com/gogoout/resumecard" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	{% include googleanalytics.html %}
  </body>

</html>
